<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Pangolin&display=swap');
        body{
            margin: none;
            padding: none;
            background-color:#FFFBF5;
        }
        nav{
            display: flex;
            justify-content: space-between;
            padding: 20px;
            background-color: #674188;
            padding: none;
            color: #C3ACD0;
            height: 22px;
            padding-top: 10px;
        }
        .logo{
            font-size: 26px;
            font-family: 'Pangolin', cursive;
        }
        nav > div > a{
            color: #C3ACD0;
            text-decoration: none;
            font-size: 22px;
            margin: 12px;
        }
        nav > div > a:hover{
            background-color: #FFFBF5;
            color: #674188;
            border-radius: 2px;
        }
        .create{
            position:absolute;
            right: 38px;
            bottom: 38px;
            background-color: #674188;
            color: #C3ACD0;
            text-decoration: none;
            height: 26px;
            width: 118px;
            padding: 17px;
            border-radius: 28px;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <nav>
        <div class="logo"> <b>Blog-O</b></div>
        <div>
            <a href="/home">Home</a>
            <a href="">About US</a>
            <a href="/login">Logout</a>
        </div>
    </nav>
    <div class="divbtn">
        <a href="/createNewBlog" class="create">Create Blog</a>

    </div>
</body>
</html>